.ForgotPasswordLayout {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    animation: blur 1s;
    background-color: rgba(255, 255, 255, 0.05);
    width: 100%;
    height: 100vh;
    color: white;

    .ForgotPasswordBoard {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(24, 11, 46, 1);
        width: 420px;
        height: 420px;
        border-radius: 18px;
        animation: show 0.5s;

        .input_forgot-password {
            // position: relative;
            width: 340px;
            height: 340px;
            .title {
                font-weight: bold;
                margin-bottom: 22px;
                font-size: 22px;
            }
            .description {
                opacity: 0.7;
            }
            .input_group {
                margin-top: 34px;
                .icon {
                    text-align: center;
                    min-width: 60px;
                    padding: 10px;
                    border: 1px solid rgba(255, 255, 255, 0.4);
                    border-right: none;
                    border-radius: 8px 0 0 8px;
                    cursor: pointer;
                }
                .group {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .btn_send-reset {
                    margin: 16px 0;
                }
                .back {
                    font-weight: bold;
                    position: relative;
                    left: 300px;
                    margin-top: 16px;
                }
            }
        }
        @keyframes show {
            from {
                top: 0px;
            }
            to {
                top: 147px;
            }
        }
    }
}

@keyframes blur {
    from {
        background-color: rgba(255, 255, 255, 0);
    }
    to {
        background-color: rgba(255, 255, 255, 0.09);
    }
}
